
<h4>今日经文</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>章节</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @latest_scripture.title %></td>
        <td><%= @latest_scripture.content %></td>
          </tbody>
</table>
</div>
<h4>最新证道</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @latest_sermons.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.created_at %></td>
        
    <% end %>
  </tbody>
</table>
</div>

<h4>最新通知</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @latest_notifications.each do |latest_notification| %>
      <tr>
        <td><%= link_to latest_notification.title, latest_notification %></td>
        <td><%= latest_notification.created_at %></td>
        
    <% end %>
  </tbody>
</table>
</div>

<h4>最新新闻</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @latest_news.each do |latest_news| %>
      <tr>
        <td><%= link_to latest_news.title, latest_news %></td>
        <td><%= latest_news.created_at %></td>
        
    <% end %>
  </tbody>
</table>
</div>

<h4>最新活动</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @latest_events.each do |latest_event| %>
      <tr>
        <td><%= link_to latest_event.name, latest_event %></td>
        <td><%= latest_event.created_at %></td>
    <% end %>
  </tbody>
</table>
</div>
