<div class="container">
    <h1 class="well">我的资料</h1>
  <div class="col-lg-12 well">
  <div class="row">
        <%= form_for(@profile) do |f| %>
        <%if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
            <ul>
            <% @profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <%end%>
          
      <div class="row">
          <div class="col-sm-6 form-group">
            <label>* 必填选项 </label>
          </div> 
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <h3>基本信息</h3>
          </div> 
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>* 姓名 </label>
             <%= f.text_field :full_name, :required => true, id: "full_name", placeholder: "Enter your full name", class: "form-control", type: "text" %>
          </div>
          <div class="col-sm-6 form-group">
            <label>性别 *</label>
            <%= f.select :gender, Profile.gender.values, {}, class: "form-control"  %>  
          </div>
        </div>

        <div class="row">                               
          <div class="col-sm-6 form-group">          
            <label>* 出生日期 </label><br>
            <%= f.date_select :date_of_birth,placeholder: "Enter Date of Birth here...", type: "datetime", class: "form-control",:start_year => 1940, :end_year => 2016,:default => {:year => 1990, :month => 'May', :day => 15} %>
          </div>
          <div class="col-sm-6 form-group">
             <label> * 坚信日期 </label><br>           
             <%= f.date_select :time_to_become_member,placeholder: "Enter Time to Become Member here...", type: "datetime", class: "form-control",:start_year => 1980, :end_year => 2016,:default => {:year => 2000, :month => 'May', :day => 15},class: "form-control" %>
          </div>  
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>* 签证类型 </label>
            <%= f.select :visa_type, Profile.visa_type.values, {},class: "form-control"   %>  
          </div>  
          <div class="col-sm-6 form-group">
            <label>* 婚姻状况 </label>
            <%= f.select :marital_status, Profile.marital_status.values, {},class: "form-control"  %> 
          </div>        
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <h3>联系信息</h3>
          </div> 
        </div>
                   
          <div class="col-sm-6 form-group">
              <label>* 手机号码</label>
              <%= f.telephone_field :mobile, :required => true,class: "form-control", placeholder: "Enter Phone Number Here..."   %>
          </div>
                            
              <div class="col-sm-6 form-group">
                  <label>紧急联系人</label>
                    <%= f.text_field :emergency_contact_person, class: "form-control", placeholder: "Enter Emergency Contact Person Here..." %>
              </div>
            </div>
                    
          <div class="row">        
            <div class="col-sm-6 form-group">
                <label>* 小组长</label>
                <%= f.select :group_leader, Profile.group_leader.values, {},class: "form-control"  %>  
            </div>
                              
              <div class="col-sm-6 form-group">
                  <label>House Leader</label>
                    <%= f.text_field :house_leader, class: "form-control", placeholder: "Enter House Leader Here..." %>
              </div>
            </div>

              <div class="form-group">
              <label>美国住址</label>
              <%= f.text_field :address,placeholder: "Enter Address Here..", class: "form-control" %>
            </div>               
                                        
        <div class="row">
          <h3>其他信息</h3>
        </div>                
   
        <div class="row">
          
          <div class="col-sm-6 form-group">
            <label>* 国籍</label>
            <%= f.text_field :nationality,placeholder: "Enter Nationality Here..", class: "form-control"  %>  
          </div>  

          <div class="col-sm-6 form-group">
            <label>* I20 有效期至 </label><br>           
             <%= f.date_select :i20_expire_date, placeholder: "Enter I20 Expired Date here...", type: "datetime", class: "form-control",:start_year => 2010, :end_year => 2030,:default => {:year => 2016, :month => 'May', :day => 15} %>
          </div>   
        </div>

         <div class="row">
             <div class="col-sm-6 form-group"> 
                <div class="form-group">
                  <label>家庭成员</label>
                  <%= f.text_field :family_member, placeholder: "Enter Family Member Here..", class: "form-control"  %>
                </div> 
            </div> 
          </div>

           <div class="row">
             <div class="col-sm-12 form-group"> 
                <div class="form-group">
                  <label>家乡住址</label>
                  <%= f.text_field :home_town, placeholder: "Enter Home Town Here..", class: "form-control"  %>
                </div> 
            </div> 
          </div>

          <div class="row">
             <div class="col-sm-12 form-group"> 
                <div class="form-group">
                  <label>* 家乡联系人</label>
                  <%= f.text_field :home_town_contact_person, placeholder: "Enter Home Town Contact Person Here..", class: "form-control"  %>
                </div> 
            </div> 

            <div class="col-sm-12 form-group"> 
                <div class="form-group">
                  <label>* 家乡联系人手机号码</label>
                  <%= f.text_field :home_town_contact_person_phone, placeholder: "Enter Home Town Contact Phone Here..", class: "form-control"  %>
                </div> 
            </div> 
          </div>

      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>是否是House Leader</label>
            <%= f.select :is_house_leader, Profile.is_house_leader.values, {},class: "form-control"  %>    
          </div>  
        </div> 

       <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>是否是小组长</label>
            <%= f.select :is_group_leader, Profile.is_group_leader.values, {},class: "form-control"  %>  
          </div>  
        </div> 
      </div> 

      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>自我介绍</label>
            <%= f.text_area :self_description, placeholder: "Enter Self Description Here..", class: "form-control", cols: "10", rows: "10"  %> 
          </div>  
        </div> 
      </div> 

         
    <div class="row">
      <div class="col-sm-6 form-group">
           <div class="field">
            * <%= f.label :image %><br>
            <%= f.file_field :image %>
            <% if f.object.image? %>
              <%= image_tag f.object.image.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %> 
            <% end %>
          </div>
      </div> 
    </div> 

     <%= f.hidden_field :user_id, :value => current_user.id %>
    <br>

 <div class="row">
      <div class="col-sm-6 form-group">
          <%= f.submit "提交",type: "submit", class: "btn btn-lg btn-info" %>   
      </div> 
    </div>     
          
        <%end%> 
   
        </div>
  </div>
  </div>