<div class="container">
    <h1 class="well">My Profile</h1>
  <div class="col-lg-12 well">
  <div class="row">
        <%= form_for(@profile) do |f| %>
        <%if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
            <ul>
            <% @profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <%end%>
          
      <div class="row">
          <div class="col-sm-6 form-group">
            <label>* Required </label>
          </div> 
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <h3>Basic Info</h3>
          </div> 
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>* Full Name </label>
             <%= f.text_field :full_name, :required => true, id: "full_name", placeholder: "Enter your full name", class: "form-control", type: "text" %>
          </div>
          <div class="col-sm-6 form-group">
            <label>Gender *</label>
            <%= f.select :gender, Profile.gender.values, {}, class: "form-control"  %>  
          </div>
        </div>

        <div class="row">                               
          <div class="col-sm-6 form-group">          
            <label>* Date of Birth </label><br>
            <%= f.date_select :date_of_birth,placeholder: "Enter Date of Birth here...", type: "datetime", class: "form-control",:start_year => 1940, :end_year => 2016,:default => {:year => 1990, :month => 'May', :day => 15} %>
          </div>
          <div class="col-sm-6 form-group">
             <label> * Become Member Since</label><br>           
             <%= f.date_select :time_to_become_member,placeholder: "Enter Time to Become Member here...", type: "datetime", class: "form-control",:start_year => 1980, :end_year => 2016,:default => {:year => 2000, :month => 'May', :day => 15},class: "form-control" %>
          </div>  
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>* Visa Type</label>
            <%= f.select :visa_type, Profile.visa_type.values, {},class: "form-control"   %>  
          </div>  
          <div class="col-sm-6 form-group">
            <label>* Maritial Status</label>
            <%= f.select :marital_status, Profile.marital_status.values, {},class: "form-control"  %> 
          </div>        
        </div>

        <div class="row">
          <div class="col-sm-6 form-group">
            <h3>Contact Info</h3>
          </div> 
        </div>
                   
          <div class="col-sm-4 form-group">
              <label>Phone Number</label>
              <%= f.telephone_field :mobile, :required => true,class: "form-control", placeholder: "Enter Phone Number Here..."   %>
          </div>
                            
              <div class="col-sm-4 form-group">
                  <label>Emergency Contact Person</label>
                    <%= f.text_field :emergency_contact_person, class: "form-control", placeholder: "Enter Emergency Contact Person Here..." %>
              </div>
            </div>

              <div class="form-group">
              <label>Address</label>
              <%= f.text_field :address,placeholder: "Enter Address Here..", class: "form-control" %>
            </div>               
                                        
        <div class="row">
          <h3>Other Info</h3>
        </div>                
   
        <div class="row">
          
          <div class="col-sm-6 form-group">
            <label>Nationality</label>
            <%= f.text_field :nationality,placeholder: "Enter Nationality Here..", class: "form-control"  %>  
          </div>  

          <div class="col-sm-6 form-group">
            <label>*  I20 Expired Date </label><br>           
             <%= f.date_select :i20_expire_date, placeholder: "Enter I20 Expired Date here...", type: "datetime", class: "form-control",:start_year => 2010, :end_year => 2030,:default => {:year => 2016, :month => 'May', :day => 15} %>
          </div>   
        </div>

         <div class="row">
             <div class="col-sm-6 form-group"> 
                <div class="form-group">
                  <label>Family Member</label>
                  <%= f.text_field :family_member, placeholder: "Enter Family Member Here..", class: "form-control"  %>
                </div> 
            </div> 
          </div>

      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>House Leader</label>
            <%= f.check_box :house_leader  %> <br />     
          </div>  
        </div> 

       <div class="row">
        <div class="col-sm-6 form-group">
          <div class="form-group">
            <label>Group Leader</label>
            <%= f.check_box :group_leader  %> <br />     
          </div>  
        </div> 
      </div> 

         
    <div class="row">
      <div class="col-sm-6 form-group">
           <div class="field">
              <%= f.label :image %><br>
              <%= f.file_field :image %>
              <% if f.object.image? %>
                <%= image_tag f.object.image.thumb.url %>
                <%= f.label :remove_image %>
                <%= f.check_box :remove_image %> 
              <% end %>
           </div>
      </div> 
    </div> 

           <%= f.hidden_field :user_id, :value => current_user.id %>
          <br>

 <div class="row">
      <div class="col-sm-6 form-group">
          <%= f.submit "Submit",type: "submit", class: "btn btn-lg btn-info" %>   
             </div> 
    </div>     
          
        <%end%> 
   
        </div>
  </div>
  </div>