<div class="container">
      <div class="row">
      <div class="col-md-4  toppad  pull-right col-md-offset-5 ">
          <%= link_to 'Edit Profile', edit_profile_path(@profile) %> |
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
       <br>
       <%= Time.now  %>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-3 toppad" >
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @profile.full_name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                  <%= image_tag @profile.image.thumb.url,class: "img-circle img-responsive" %>
                   </div>

                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><h4>账户信息</h4></td>
                      </tr>
                      <tr>
                        <td>登录邮箱</td>
                        <td><%= @profile.user.email %></td>
                      </tr>

                      <tr>
                        <td>修改登录信息</td>
                        <td><%= link_to '修改登录信息', edit_user_registration_path %></td>
                      </tr>
                      
                      <tr>
                        <td><h4>基本资料</h4></td>
                      </tr>
                      <tr>
                        <td>性别</td>
                        <td><%= @profile.gender %></td>
                      </tr>
                      
                      <tr>
                        <td>出生日期</td>
                        <td><%= @profile.date_of_birth.to_date %></td>
                      </tr>

                      <tr>
                        <td>坚信日期</td>
                        <td><%= @profile.time_to_become_member.to_date %></td>
                      </tr>

                      <tr>
                        <td>婚姻状况</td>
                        <td>  <%= @profile.marital_status %></td>
                      </tr>

                      <tr>
                        <td>家庭成员</td>
                        <td>  <%= @profile.family_member %></td>            
                      </tr>
                      <tr>
                       
                   
                      <tr>
                        <td><h4>联系信息</h4></td>
                      </tr>

                      
                      <tr>
                        <td>美国住址</td>
                        <td>  <%= @profile.address %></td>
                      </tr>
                      <tr>
                        <td>邮箱</td>
                        <td><%= @profile.email %></a></td>
                      </tr>
                      <tr>
                        <td>手机号码</td>
                        <td><%= @profile.mobile %></td>            
                      </tr>
                      <tr>
                      <td>紧急联系人</td>
                        <td>  <%= @emergency_contact_person %></td>            
                      </tr>
                        <td>小组长</td>
                        <td>  <%= @profile.group_leader %></td>            
                      </tr>


                      <tr>
                        <td><h4>其他信息</h4></td>
                      </tr>
                      <tr>
                        <td>国籍</td>
                        <td><%= @profile.nationality %></td>
                      </tr>
                      <tr>

                      <tr>
                      <td>家乡联系人</td>
                        <td><%= @profile.home_town_contact_person %></td>
                      </tr>
                      <tr>
                      <td>家乡联系人联系方式</td>
                        <td><%= @profile.home_town_contact_person_phone %></td>
                      </tr>
                       <td>是否是小组长</td>
                        <td><%= @profile.is_group_leader %></td>
                      </tr>

                      <tr>
                        <td>是否是牧师</td>
                        <td><%= @profile.is_pastor %></td>
                      </tr>
                      <tr>
                        <td>兴趣爱好</td>
                        <td><%= @profile.hobby %></td>
                      </tr>      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
