<%= form_for(@news_comment) do |f| %>
  <% if @news_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @news_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :news_id, :value => @news.id %>
<div class="field">
  <%= f.label :content %><br>
  <%= f.text_area :content,cols: "80", rows: "15" %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>