<h1>通知</h1>
<div class="clear"></div>
    <ul class="news"> 
        <% @notifications.each do |notification| %>
          
          <li>
            <%= notification.created_at%> <br>
            <p><%= notification.content %></p>
          </li>
        <%end%>
    </ul>

    <ul class="news"> 
        <% @notifications.each do |notification| %>
          
          <li>
            <%= notification.created_at%> <br>
            <p><%= notification.content %></p>
          <!--   <% if !notification.image.nil? %>
            <div> 
                <%= image_tag notification.image.url, size: "500x300"%>
            </div> -->
            <%end%>
          </li>
        <%end%>
    </ul>