<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @reflection.content %>
</p>

<p>
  <strong>Event</strong>
  <%= @reflection.event.name %>
</p>



<%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Back', @reflection.event %>
