 

<h1>Listing Sermon Reflections</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermon_reflections.each do |sermon_reflection| %>
      <tr>
        <td><%= sermon_reflection.content %></td>
        <td><%= link_to 'Show', sermon_reflection %></td>
        <td><%= link_to 'Edit', edit_sermon_reflection_path(sermon_reflection) %></td>
        <td><%= link_to 'Destroy', sermon_reflection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sermon reflection', new_sermon_reflection_path %>
