
<div class="container">
      <div class="row">

<p>
  <strong>名称</strong><br>
  <%= @event.name %>
</p>

<p>
  <strong>时间</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>简介</strong><br>
  <%= @event.description %>
</p>


<%= link_to '提交感想', new_reflection_path(:event_id => @event.id)%> |
<%= link_to '后退', events_path %>
<%= link_to 'Registration', new_registration_path(:event_id => @event.id) %>


<% @event.reflections.each do |reflection|%>
<p><%= reflection.content %></p>
<%end%>

</div>
</div>


