
<div class="container">
      <div class="row">

<p>
  <strong>活动名称</strong><br>
  <%= @event.title  %>
</p>

<p>
  <strong>活动时间</strong>
  <%= @event.start_time.to_date %>
</p>

<p>
  <strong>活动安排</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>适合人群</strong><br>
  <%= @event.target_people %>
</p>
<p>
  <strong>人数限制</strong><br>
  <%= @event.max_number_of_people %>
</p>
<p>
  <strong>剩余席位</strong><br>
  <%= @event.remaining_reservations %>
</p>

<% if @event_registration.nil? %>
<%= link_to '申请参加', new_event_registration_path(:event_id => @event.id) %>
<% elsif @event_registration.approved == 1 %>
<label>已提交申请，等待批准<label>
<% else %>
<label>已参加<label>
<% end %>
<br>

<%= link_to '后退', events_path %>

</div>
</div>


