<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "礼拜回顾", service_review_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "通知", notifications_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "恩典见证", testimony_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "好消息", good_news_path,  class: "nav-link"%>
    </li>

  </ul>
</nav>

<div class="row">
                   
                    <div class="col-lg-9 maincontent">
                        
                        
                        <h1>好消息</h1>
                        <div class="sideinfo">
                      
                        <p>日期：2016-2-13</p>
                       
                    </div>
                    <div class="clear"></div>
                    <ul class="news">
    <% @latest_good_news.each do |latest_good_news|%>
<li>
<p><%= latest_good_news.content %></p>
<% if !latest_good_news.image.url.nil? %>
<ul class="newsimages">
    <li class="col-sm-10"><%= image_tag latest_good_news.image.url%></li>
</ul>
<%end%>
</li>
<%end%>
</ul>

    </div>
    <div class="col-lg-3">
        <div class="sidecategory">
        <div class="sidecategorytitle">
            <p>往期回顾 </p>
        </div>
        <ul >
            <li><div class="sermontitle">
               <%= link_to "近期好消息回顾", recent_good_news_path %>
            </div>
           
        </li>
        
        </ul>
        </div>
    </div>