<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">恩典见证</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">好消息</a>
    </li>
  </ul>
</nav>


<h4>礼拜回顾</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>主题</th>
      <th>作者</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.service_review.each do |news| %>
      <tr>
        <td><%= link_to news.title, news_path(news) %></td>
        <td><%= news.author %></td>
        <td><%= news.date.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<h4>心灵医治</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>主题</th>
      <th>作者</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.healing_heart.each do |news| %>
      <tr>
        <td><%= link_to news.title, news_path(news) %></td>
        <td><%= news.author %></td>
        <td><%= news.date.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<h4>恩典见证</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>主题</th>
      <th>作者</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.grace_and_testimony.each do |news| %>
      <tr>
        <td><%= link_to news.title, news_path(news) %></td>
        <td><%= news.author %></td>
        <td><%= news.date.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<h4>好消息</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>主题</th>
      <th>作者</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.good_news.each do |news| %>
      <tr>
        <td><%= link_to news.title, news_path(news) %></td>
        <td><%= news.author %></td>
        <td><%= news.date.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<h4>其他</h4>
 <div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>主题</th>
      <th>作者</th>
      <th>日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.others.each do |news| %>
      <tr>
        <td><%= link_to news.title, news_path(news) %></td>
        <td><%= news.author %></td>
        <td><%= news.date.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<%= link_to '提交新闻', new_news_path %> 