<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "礼拜回顾", service_review_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "通知", notifications_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "恩典见证", testimony_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "好消息", good_news_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "提交周报素材", new_news_path,  class: "nav-link"%>
    </li>

  </ul>
</nav>

<h1>提交新闻素材</h1>

<%= render 'form' %>

