<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "礼拜回顾", service_review_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "通知", notifications_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "恩典见证", testimony_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "好消息", good_news_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "提交周报素材", new_news_path,  class: "nav-link"%>
    </li>

  </ul>
</nav>

                <div class="row">
                   
                    <div class="col-lg-9 maincontent">
                        
                        
                        <h1>礼拜回顾 - <%= @latest_sunday_service.title %></h1>
                        <div class="sideinfo">
                        <p>讲道人：<span><%= @latest_sunday_service.preacher.name %></span></p>
                        <p>日期：<%= @latest_sunday_service.created_at.to_date %></p>
                        <p>相关经文：<span><%= @latest_sunday_service.scripture %></span></p>
                    </div>
                    <div class="clear"></div>
                        <p><%= @latest_sunday_service.content %></p>
                    </div>

                    <div class="col-lg-3">
                        <div class="sidecategory">
                        <div class="sidecategorytitle">
                            <p>往期回顾 </p>
                        </div>
                        <ul>
                            <% @recent_sunday_services.each do |recent_sunday_service| %>
                            <li><div class="sermontitle">
                               <%= link_to recent_sunday_service.title, recent_sunday_service_path(:service_id => recent_sunday_service.id) %>
                            </div>
                            <span><%= recent_sunday_service.created_at.to_date %>讲道</span>
                        </li>
                        <%end%>

                        </ul>
                        </div>
                    </div>
                </div>

