
<p>
  <strong>题目:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>作者:</strong>
  <%= @news.author %>
</p>

<p>
  <strong>日期:</strong>
  <%= @news.date.to_date %>
</p>

<p>
  <strong>内容:</strong>
  <%= @news.content %>
</p>

<div > 
    <%= image_tag @news.image.url%>
</div>
<br>

<%= link_to '后退', news_index_path %><br>

