
<p>
  <strong>题目:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>作者:</strong>
  <%= @news.author %>
</p>

<p>
  <strong>日期:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>内容:</strong>
  <%= @news.content %>
</p>

<div > 
    <%= image_tag @news.image.url%>
</div>
<br>

<%= link_to '后退', news_index_path %><br>
<%= link_to '评论', new_news_comment_path(:news_id => @news.id) %>
<br>
<br>
<% @news.news_comments.each do |comment|%>
<%= comment.user.profile.full_name %><br>
<%= comment.content %>

<br>
<%end%>
