<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "礼拜回顾", service_review_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "通知", notifications_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "恩典见证", testimony_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "好消息", good_news_path,  class: "nav-link"%>
    </li>

  </ul>
</nav>

<div class="row">
                   
                    <div class="col-lg-9 maincontent">
                        
                        
                        <h1>默想见证</h1>
                        <div class="sideinfo">
                      
                        <p>日期：2016-2-13</p>
                       
                    </div>
                    <div class="clear"></div>
                    <ul class="news">
                    <% @latest_testimonys.each do |latest_testimony|%>
                    <li>
                        <p><%= latest_testimony.content %>
                    </p>
                  </li>
                    <%end%>
                  </ul>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="sidecategory">
                        <div class="sidecategorytitle">
                            <p>往期回顾 </p>
                        </div>
                        <ul>
                            <li><div class="sermontitle">
                               <%= link_to "近期恩典见证", recent_testimony_path %>
                            </div>
                           
                        </li>
                       

                        </ul>
                        </div>
                    </div>
                </div>