<%= form_for(@sermon) do |f| %>
  <% if @sermon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sermon.errors.count, "error") %> prohibited this sermon from being saved:</h2>

      <ul>
      <% @sermon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div>
  <label>Category</label>
    <%= f.select :category, Sermon.category.values, {} %>  
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :preacher %><br>
    <%= collection_select(:sermon, :preacher_id, Preacher.all, :id, :name, :prompt => 'Please select preacher') %>

  </div>
  <div class="field">
    <%= f.label :scripture %><br>
    <%= f.text_field :scripture %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content,cols: "50", rows: "10"   %>
  </div>
  <div class="field">
     <%= f.label :sermon_audio %><br>
     <%= f.file_field :sermon_audio %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

