<%= form_for(@sermon) do |f| %>
  <% if @sermon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sermon.errors.count, "error") %> prohibited this sermon from being saved:</h2>

      <ul>
      <% @sermon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div>
  <label>Category</label>
    <%= f.select :category, Sermon.category.values, {} %>  
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :preacher %><br>
    <%= f.text_field :preacher %>
  </div>
  <div class="field">
    <%= f.label :scripture %><br>
    <%= f.text_field :scripture %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content,cols: "50", rows: "10"   %>
  </div>
 
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
