<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "主日证道", sunday_service_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "早礼拜", morning_service_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "祷告会", prayer_meeting_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "周三晚礼拜", wednesday_service_path,  class: "nav-link"%>
    </li>
  </ul>
</nav>

<h4>主日证道</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>类别</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.sunday_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.start_time.to_date %></td>
        <td><%= sermon.preacher.name %></td>
        <td><%= sermon.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>周三晚礼拜</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>类别</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.wednesday_evening_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.start_time.to_date %></td>
        <td><%= sermon.preacher.name %></td>
        <td><%= sermon.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>早礼拜</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>类别</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.morning_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.start_time.to_date %></td>
        <td><%= sermon.preacher.name %></td>
        <td><%= sermon.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>祷告会</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>类别</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.prayer_meeting.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.start_time.to_date %></td>
        <td><%= sermon.preacher.name %></td>
        <td><%= sermon.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

