
<h4>主日证道</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>录音</th>
      <th>纲要</th>
      <th>类别</th>
      <th>感想</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.sunday_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.date %></td>
        <td><%= sermon.preacher %></td>
        <td><%= link_to '<i class="fa fa-volume-up" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to '<i class="fa fa-list-ul" aria-hidden="true"></i>'.html_safe %> </td>
        <td><%= sermon.category %></td>
        <td><%= link_to '写感想', new_sermon_reflection_path(:sermon_id => sermon.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>周三晚礼拜</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>录音</th>
      <th>纲要</th>
      <th>类别</th>
      <th>感想</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.wednesday_evening_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.date %></td>
        <td><%= sermon.preacher %></td>
        <td><%= link_to '<i class="fa fa-volume-up" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to '<i class="fa fa-list-ul" aria-hidden="true"></i>'.html_safe %> </td>
        <td><%= sermon.category %></td>
        <td><%= link_to '写感想', new_sermon_reflection_path(:sermon_id => sermon.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>早礼拜</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
       <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>录音</th>
      <th>纲要</th>
      <th>类别</th>
      <th>感想</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.morning_service.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.date %></td>
        <td><%= sermon.preacher %></td>
        <td><%= link_to '<i class="fa fa-volume-up" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to '<i class="fa fa-list-ul" aria-hidden="true"></i>'.html_safe %> </td>
        <td><%= sermon.category %></td>
        <td><%= link_to '写感想', new_sermon_reflection_path(:sermon_id => sermon.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h4>祷告会</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
       <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>录音</th>
      <th>纲要</th>
      <th>类别</th>
      <th>感想</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sermons.prayer_meeting.each do |sermon| %>
      <tr>
        <td><%= link_to sermon.title, sermon %></td>
        <td><%= sermon.length %></td>
        <td><%= sermon.date %></td>
        <td><%= sermon.preacher %></td>
        <td><%= link_to '<i class="fa fa-volume-up" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to '<i class="fa fa-list-ul" aria-hidden="true"></i>'.html_safe %> </td>
        <td><%= sermon.category %></td>
        <td><%= link_to '写感想', new_sermon_reflection_path(:sermon_id => sermon.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

