<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sermon.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sermon.date %>
</p>

<p>
  <strong>Preacher:</strong>
  <%= @sermon.preacher %>
</p>
<p>
  <strong>Scripture:</strong>
  <%= @sermon.scripture %>
</p>

<p>
  <strong>Content:</strong>
  <%= @sermon.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sermon.category %>
</p>

  <strong>Audio:</strong>

<audio src="<%= audio_path 'test.mp3'%>" type="audio/mpeg" controls>
    Your browser does not support the audio element.
</audio>

<br><br>
  <strong> Video:</strong>
<%= video_tag "chengzhang.mp4", :size => "400x300", :controls => true %>
<br><br>

<!-- 
<video width="480" controls poster="https://archive.org/download/WebmVp8Vorbis/webmvp8.gif" >
  <source src="https://archive.org/download/WebmVp8Vorbis/webmvp8.webm" type="video/webm">
  Your browser doesn't support HTML5 video tag.
</video> -->

<br><br>
<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %><br>
<%= link_to '签到', sermon_sign_ins_path(:sermon_id => @sermon.id,:user_id => current_user.id), method: :post %>

<%= link_to '提交感想', new_sermon_reflection_path(:sermon_id => @sermon.id) %>
<br><br>
<label>感想:</label><br>
<% @sermon.sermon_reflections.each do |sermon_reflection|%>
<%= sermon_reflection.user.profile.full_name %>
<br>
<%= sermon_reflection.content %>
<br><br>
<%end%>




