
<h4>主日证道</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>类别</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sunday_services.each do |sunday_service| %>
      <tr>
        <td><%= link_to sunday_service.title, sunday_service %></td>
        <td><%= sunday_service.length %></td>
        <td><%= sunday_service.start_time.to_date %></td>
        <td><%= sunday_service.preacher.name %></td>
        <td><%= sunday_service.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= paginate @sunday_services %>
