
<h4>周三晚礼拜</h4>
<div class=" col-md-12 col-lg-12 "> 
<table class="table table-user-information">
  <thead>
    <tr>
      <th>题目</th>  
      <th>片长</th>
      <th>日期</th>
      <th>讲道人</th>
      <th>签到人数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wednesday_services.each do |wednesday_service| %>
      <tr>
        <td><%= link_to wednesday_service.title, wednesday_service %></td>
        <td><%= wednesday_service.length %></td>
        <td><%= wednesday_service.start_time.to_date %></td>
        <td><%= wednesday_service.preacher.name %></td>
        <td><%= wednesday_service.sign_in_count %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= paginate @wednesday_services %>
