<%= form_for(@event_notice) do |f| %>
  <% if @event_notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_notice.errors.count, "error") %> prohibited this event_notice from being saved:</h2>

      <ul>
      <% @event_notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
