<p id="notice"><%= notice %></p>

<h1>Listing Event Notices</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Publisher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_notices.each do |event_notice| %>
      <tr>
        <td><%= event_notice.title %></td>
        <td><%= event_notice.content %></td>
        <td><%= event_notice.publisher %></td>
        <td><%= link_to 'Show', event_notice %></td>
        <td><%= link_to 'Edit', edit_event_notice_path(event_notice) %></td>
        <td><%= link_to 'Destroy', event_notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event notice', new_event_notice_path %>
