
<p>
  <strong>主题：</strong>
  <%= @event_sermon.title %>
</p>

<p>
  <strong>讲道人：</strong>
  <%= @event_sermon.preacher.name %>
</p>

<p>
  <strong>日期：</strong>
  <%= @event_sermon.start_time.to_date %>
</p>

<p>
  <strong>主要内容：</strong>
  <%= @event_sermon.content %>
</p>

<p>
  <strong>音频</strong>
  <audio src="<%= audio_path 'test.mp3'%>" type="audio/mpeg" controls>
    Your browser does not support the audio element.
</audio>
<br><br>
</p>



<%= link_to '后退', event_detail_path(:event_id => @event_sermon.event) %>
<br><br>

<p>
  <% if !@my_event_sermon_reflection.nil? %>
  <strong>我的感想:</strong><br>
  <%= @my_event_sermon_reflection.content %><br>
  <%= link_to '编辑感想', edit_event_sermon_reflection_path(@my_event_sermon_reflection, :event_sermon_id => @event_sermon.id) %>
  <%else%>
  <%= link_to '写感想', new_event_sermon_reflection_path(:event_sermon_id => @event_sermon.id) %>
  <%end%>
</p>



