<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @suggestion.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @suggestion.name %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
