<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is designed for SF Gratia Church.">
    <meta name="author" content="Kevin Liu">

    <title>三藩中文教会</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

     <div id="wrapper">
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div class="portrait">
                        <%= image_tag current_user.profile.image %>
                    </div>
                    <div class="name"><p>Chao Liu</p></div>
                </li>

                <li>
                  <%= link_to '<i class="fa fa-home" aria-hidden="true"></i> 主页'.html_safe, root_path %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-bell"></i>通知'.html_safe, notifications_path %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-newspaper-o" aria-hidden="true"></i>周报'.html_safe, news_index_path %>
                </li>

                <li>
                  <%= link_to '<i class="fa fa-list-ul"></i>证道'.html_safe, sermons_path %>                
                </li>
                <li>
                  <%= link_to '<i class="fa fa-users" aria-hidden="true"></i>活动'.html_safe, events_path %>  
                    
                </li>
                <li>
                  <%= link_to '<i class="fa fa-calendar" aria-hidden="true"></i></i>日历'.html_safe, calendar_path %>                  
                </li>
                
                <li>
                  <%= link_to '<i class="fa fa-user" aria-hidden="true"></i>我的资料'.html_safe, current_user.profile %> 
                    
                </li>
                <li>
                  <%= link_to '<i class="fa fa-users" aria-hidden="true"></i>我的活动'.html_safe, my_events_path %> 
                    
                </li>
                <li>
                  <%= link_to '<i class="fa fa-comments-o" aria-hidden="true"></i>我的感想'.html_safe, my_reflections_path %> 
                    
                </li>
                <li>
                  <%= link_to '<i class="fa fa-newspaper-o" aria-hidden="true"></i>提交新闻'.html_safe, new_news_path %>      
                </li>
                <li>
                  <%= link_to '<i class="fa fa-envelope-o" aria-hidden="true"></i>联系我们'.html_safe, new_suggestion_path %>      
                </li>
                <li>
                  <%= link_to '<i class="fa fa-sign-out"></i>登出'.html_safe, destroy_user_session_path, method: :delete %> 
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


 <div class="header col-lg-12 ">
    <a href="#menu-toggle" class="btn btn-default menubtn" id="menu-toggle"><i class="fa fa-bars"></i></a>


    <div class="logo" ><%= image_tag "logo_06.png" %><p><b> 三藩中文教会</b><br> 网上管理系统 </p>
    </div>
 </div>
 
 <!-- Page Content -->

    <div id="page-content-wrapper" class="sermon">
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-lg-12 maincontent">                  
                 <p id="notice"><%= notice %></p>    
                        <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
 <!-- /#wrapper -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
<br>
    <br>
    <br>
    <hr>
<footer>
  <div class="row">
      <div class="col-md-4 col-md-offset-4 col-lg-12">
          <p>Copyright &copy; Church Management System 2016</p>
      </div>
  </div>
        
</footer>

</html>


